body{
	color:black;
	margin:0px;
    background-color: #E8DED1;
   font-family: 'Lato', sans-serif;
  
   
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.instru{
    font-size: 1vw;
    padding: 0px;
    margin-left: 0px;
    list-style: none;
    text-align: left;
    margin-left: 6.5vw;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 2vw;
    color: #2D2625;
}

.website{
	
}

.baner{
	background-color: #302B29;
	width: 100%;
   height: 20%;
	float:left;
}

#logo{
	max-width:100%;
	display: block;
   position: relative;
    margin: auto;
  height:100%;

}


.menu{
   
    clear: both;
    height: 50px;
	background-color: #2D2625;
	font-family: 'Kanit', sans-serif;
    text-align:center;
    margin-bottom: 0%;
    font-size: 1vw;
}

a{
	color: white;
	text-decoration:none;
    text-align:center;
}

.menu li{
   
   
	display: inline-block;
    margin-right:10%;
	text-align:center;
	
}


ul li{
    
     padding: 10px;
	display: inline;
	text-align:center;
	list-style:none;
}

ul{
    
    margin-left: 10%;
    margin-right: 10%;
}

.content{
	clear:both;
   
}


#donut_image{
    position: relative;
    top: 0;
    left: 0;
}

#donut_start{
 width: 50vw;   
}

#donut_masa{
	width: 50vw;
    position: absolute;
    top:0;
    left:0;
}

#donut_nadzienie{
	width: 15vw;
    position: absolute;
    top: 18vw;
    left: 25vw;
}

#donut_posypka{
    width: 50vw;
    position: absolute;
    top:0;
    left:0;
}

#donut_vege{
    width: 50vw;
    position: absolute;
    top:0;
    left:0;
}

.donut_absolute{
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
}




.lewy{
    background-color: #E8DED1;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 1%;
	width: 45%;
	min-height: 100%;
	float: left;
}

.prawy{
    background-color: #E8DED1;
	text-align: center;
	width: 50%;
	min-height: 100%;
	float: left;
}

.footer{
    
    clear: both;
    height: 10vw;
	background-color: #2D2625;
	font-family: 'Kanit', sans-serif;
    text-align:center;
    margin-top: -50px;
    font-size: 1vw;
    background-color: #2D2625;
}

.godziny{
	display: inline-block;
    margin-right:10%;
    font-size: 0.7vw;
	text-align:center;
	color:white;
}

.info{
		
		display: inline-block;
    font-size: 0.7vw;
	text-align:center;
	color: white;
}

.kat1{
    font-size: 1vw;
    float:left;
}

.kat2{
    font-size: 1vw;
    float:left;
    margin-left: 15%;
}

.kat3{
    font-size: 1vw;
    clear: both;
    float:left;
}

.kat4{
    font-size: 1vw;
    float:left;
    margin-left: 40%;
}

.kat5{
    margin-left: -15vw;
    font-size: 1vw;
    clear: both;
    text-align: center;
}

#cena_id{
    width: 4vw;
    text-align: center;
}

button{
    font-size: 0.8vw;
    width: 5vw;
    text-align: center;
    background-color : #f6f3ef;
    border-color: #f6f3ef;
    color: #2D2625;
    font-family: 'Pacifico', cursive;
    border-radius: 25%;
    padding: 0.2vw;
}